{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/95f27fe8e3.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'headers.css' %}" rel="stylesheet">
    <link href="{% static 'post.css' %}" rel="stylesheet">
    <title>Home</title>

    <style>
      #lgout{
        background-color: white;
        color: black;
        width: 100%;
      }
      #lgout:hover{
          background-color: #d64978;
          text-decoration: none;
          color: white;
      }
    </style>
  </head>
  <body style="background-color: white;">
    <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div style="font-weight: 700; font-size: 30px; padding: 5px; margin-right: 200px;">FID</div>
    
        <ul style="padding-right: 100px;" class="nav nav-pills">
          <li class="nav-item"><a href="/" class="nav-link">Feed</a></li>
          <li class="nav-item"><a href="/history/" class="nav-link active">History</a></li>
          <li class="nav-item"><a href="/analyze/" class="nav-link">New Analysis</a></li>
          <li class="nav-item"><a href="/search/" class="nav-link">Search</a></li>
          <li class="nav-item"><a href="/account/" class="nav-link">Account</a></li>
        </ul>
    
        <div class="col-md-2 text-end" onclick="lgpanel()" style="cursor: pointer;">
          <div style="margin-left: 30px; ">
            <img src="{% static 'user.jpg' %}" width="40" class="rounded-image">
            <p style="margin-top: -38px;" >{{ user.get_full_name }}</p>
          </div>
          <div id="lgpanel" style="display: none; z-index: 1; position: absolute; right: 105px; width: 115px; height: 50px; background-color: white; border-radius: 0px 0px 10px 10px; box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.2); clip-path: inset(2px -20px -20px -20px);">
            <ul style="list-style-type:none;">
                <li id="lgout" onclick="location.replace('/signout/')" style="text-align: center; cursor: pointer; position: absolute; left: 0px; top: 10px;" >Log Out</li>
            </ul>
        </div>
        </div>
      </header>
    </div>

    <div class="container mt-5 mb-5">
      <div class="row d-flex align-items-center justify-content-left">
        {% if posts|length == 0 %}
          <h2 style="text-align: center; margin-top: 15%;"> Looks like you haven't posted anything &#128517 </h2>
        {% endif %}
        {% for post in posts reversed %}
          <div class="col-md-6" style="width: 100%; height: auto; -webkit-box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.2); 
          box-shadow: 0px 0px 26px -3px rgba(0,0,0,0.2); border-radius: 15px; padding-top: 12px; padding-bottom: 10px; margin-bottom: 40px;">
              <div class="card">
                  <div class="d-flex justify-content-between p-2 px-3">
                      <div class="d-flex flex-row align-items-center"> <img src="{% static 'user.jpg' %}" width="50" class="rounded-circle">
                          <div class="d-flex flex-column ml-2"> <span class="font-weight-bold" style="margin-left: 10px;">{{ post.user_fullname }}</span> <small class="text-primary" style="margin-left: 10px;">{% for tag in post.tag %}#{{ tag }}&nbsp{% endfor %}</small></div>
                      </div>
                      <div class="d-flex flex-row mt-1 ellipsis"> <small class="mr-2">{{ post.created_on }}</small> </div>
                  </div> 
                  <img src="{{ post.image }}" class="center" style="height: 256px; width: auto;">
                  {% if post.p_real <= 0.5 %}
                    <img src="{{ post.binary_mask }}" class="center" style="height: 256px; width: auto;">
                  {% endif %}
                  <div class="p-2">
                    {% if post.p_real > 0.5 %}
                      <p class="text-center" style="font-size: 24px; font-weight:bold; color: green;">REAL</p> <!-- For Caption -->
                      {% else %}
                      <p class="text-center" style="font-size: 24px; font-weight:bold; color: red;">FAKE</p>
                    {% endif %}
                      <hr>
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex flex-row icons d-flex align-items-center"> <i style="cursor: pointer;" id="upv{{ post.id }}" onclick="upvote({{ post.id }})" class="fas fa-chevron-up"></i>&nbsp&nbsp&nbsp<i style="cursor: pointer;" id="dnv{{ post.id }}" onclick="downvote({{ post.id }})" class="fas fa-chevron-down"></i>&nbsp&nbsp&nbsp<span id="votes{{ post.id }}">{{ post.votes }}</span> </div>
                          <div class="d-flex flex-row muted-color"> <span id="nos_comment{{ post.id }}" >{{ post.comments|length }}</span> <span>&nbspcomments &nbsp&nbsp&nbsp</span> <span class="ml-2">Share</span> </div>
                      </div>
                      <hr>
                      <div id="commentDiv{{ post.id }}" class="comments">
                          {% for comment in post.comments %}
                            <div id="comment{{ comment.id }}" class="d-flex flex-row mb-2"> <img src="{% static 'user.jpg' %}" class="rounded-image">
                              <div class="d-flex flex-column ml-2"> <span class="name">{{ comment.user_fullname }}</span> <small id="comment_content{{ comment.id }}" class="comment-text">{{ comment.content }}</small>
                                  <div class="d-flex flex-row align-items-center status"> <small style="cursor:pointer;" >Like</small> <small style="cursor:pointer;" >Reply</small> {% if comment.user == user.id %} <small onclick='deleteComment({{ comment.id }})' style="cursor:pointer;">Delete</small> {% endif %} </div>
                              </div>
                            </div>
                          {% endfor %}
                      </div>
                          <div class="comment-input" style="display:grid; grid-template-columns: 90% 10%; grid-template-rows: 40px; text-align: center; margin-bottom:10px;"> 
                            <input id="commentText{{ post.id }}" type="text" class="form-control">
                            <i id="submit_comment" onclick='submitComment("{{ post.id }}")' class="material-icons form-control" style="cursor:pointer; padding-left:10px; font-size:28px; background-color:rgb(42, 102, 231); color: white;">send</i>
                          </div>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script>

      {% for post in posts reversed %}
        {% if user.id in post.upvoted_by %}
          var vote{{ post.id }} = 1;
          document.getElementById("upv"+{{ post.id }}).style.color = '#c41d31';
          document.getElementById("dnv"+{{ post.id }}).style.color = 'black';
        {% elif user.id in post.downvoted_by %}
          var vote{{ post.id }} = -1;
          document.getElementById("upv"+{{ post.id }}).style.color = 'black';
          document.getElementById("dnv"+{{ post.id }}).style.color = '#c41d31';
        {% else %}
          var vote{{ post.id }} = 0;
          document.getElementById("upv"+{{ post.id }}).style.color = 'black';
          document.getElementById("dnv"+{{ post.id }}).style.color = 'black';
        {% endif %}
      {% endfor %}

      function upvote(num){

        if (window["vote"+num] == 0){
          var votes = document.getElementById("votes"+num).textContent;
          document.getElementById("upv"+num).style.color = '#c41d31';
          document.getElementById("dnv"+num).style.color = 'black';
          window["vote"+num]+=1;
          document.getElementById("votes"+num).textContent = parseInt(votes) + 1;

          var votes_updated = document.getElementById("votes"+num).textContent;
          const vote_request = new Request('http://localhost:8000/api/saveupvotes/', {
              method: "POST", 
              body: '{"user_id":{{ user.id }}, "post_id":'+num+', "updated_votes":'+votes_updated+'}',
              headers: {"Content-type": "application/json; charset=UTF-8", 'X-CSRFToken': Cookies.get('csrftoken')}
            });

          fetch(vote_request)
          .then(response => response.json())
          .catch(error => console.log(error));

        }
        else if (window["vote"+num] == 1){
          var votes = document.getElementById("votes"+num).textContent;
          document.getElementById("upv"+num).style.color = 'black';
          document.getElementById("dnv"+num).style.color = 'black';
          window["vote"+num]-=1;
          document.getElementById("votes"+num).textContent = parseInt(votes) - 1;

          var votes_updated = document.getElementById("votes"+num).textContent;
          const vote_request = new Request('http://localhost:8000/api/saveupvotes/', {
              method: "DELETE", 
              body: '{"user_id":{{ user.id }}, "post_id":'+num+', "updated_votes":'+votes_updated+'}',
              headers: {"Content-type": "application/json; charset=UTF-8", 'X-CSRFToken': Cookies.get('csrftoken')}
            });

          fetch(vote_request)
          .then(response => response.json())
          .catch(error => console.log(error));
        }
        
        else{
          var votes = document.getElementById("votes"+num).textContent;
          document.getElementById("upv"+num).style.color = 'black';
          document.getElementById("dnv"+num).style.color = 'black';
          window["vote"+num]+=1;
          document.getElementById("votes"+num).textContent = parseInt(votes) + 1;

          var votes_updated = document.getElementById("votes"+num).textContent;
          const vote_request = new Request('http://localhost:8000/api/savedownvotes/', {
              method: "DELETE", 
              body: '{"user_id":{{ user.id }}, "post_id":'+num+', "updated_votes":'+votes_updated+'}',
              headers: {"Content-type": "application/json; charset=UTF-8", 'X-CSRFToken': Cookies.get('csrftoken')}
            });

          fetch(vote_request)
          .then(response => response.json())
          .catch(error => console.log(error));
        }
      }

      function downvote(num){

        if (window["vote"+num] == 0){
          var votes = document.getElementById("votes"+num).textContent;
          document.getElementById("dnv"+num).style.color = '#c41d31';
          document.getElementById("upv"+num).style.color = 'black';
          window["vote"+num]-=1;
          document.getElementById("votes"+num).textContent = parseInt(votes) - 1;

          var votes_updated = document.getElementById("votes"+num).textContent;
          const vote_request = new Request('http://localhost:8000/api/savedownvotes/', {
              method: "POST", 
              body: '{"user_id":{{ user.id }}, "post_id":'+num+', "updated_votes":'+votes_updated+'}',
              headers: {"Content-type": "application/json; charset=UTF-8", 'X-CSRFToken': Cookies.get('csrftoken')}
            });

          fetch(vote_request)
          .then(response => response.json())
          .catch(error => console.log(error));
          }
        
        else if (window["vote"+num] == -1){
          var votes = document.getElementById("votes"+num).textContent;
          document.getElementById("dnv"+num).style.color = 'black';
          document.getElementById("upv"+num).style.color = 'black';
          window["vote"+num]+=1;
          document.getElementById("votes"+num).textContent = parseInt(votes) + 1

          var votes_updated = document.getElementById("votes"+num).textContent;
          const vote_request = new Request('http://localhost:8000/api/savedownvotes/', {
              method: "DELETE", 
              body: '{"user_id":{{ user.id }}, "post_id":'+num+', "updated_votes":'+votes_updated+'}',
              headers: {"Content-type": "application/json; charset=UTF-8", 'X-CSRFToken': Cookies.get('csrftoken')}
            });

          fetch(vote_request)
          .then(response => response.json())
          .catch(error => console.log(error));
          }
        
        else{
          var votes = document.getElementById("votes"+num).textContent;
          document.getElementById("dnv"+num).style.color = 'black';
          document.getElementById("upv"+num).style.color = 'black';
          window["vote"+num]-=1;
          document.getElementById("votes"+num).textContent = parseInt(votes) - 1;

          var votes_updated = document.getElementById("votes"+num).textContent;
          const vote_request = new Request('http://localhost:8000/api/saveupvotes/', {
              method: "DELETE", 
              body: '{"user_id":{{ user.id }}, "post_id":'+num+', "updated_votes":'+votes_updated+'}',
              headers: {"Content-type": "application/json; charset=UTF-8", 'X-CSRFToken': Cookies.get('csrftoken')}
            });

          fetch(vote_request)
          .then(response => response.json())
          .catch(error => console.log(error));
        }

      }

      async function submitComment(num){
        if (document.getElementById("commentText"+num).value != '' && document.getElementById("commentText"+num).value != ' '){
            var comment = document.getElementById("commentText"+num).value
            
            const request = new Request('http://localhost:8000/api/comments/', {
              method: "POST",
              body: '{"content": "'+comment+'","post":'+parseInt(num)+',"user": {{ user.id }} }',
              headers: {"Content-type": "application/json; charset=UTF-8", 'X-CSRFToken': Cookies.get('csrftoken')}
            });

            var commentID;

            await fetch(request)
            .then(response => response.json())
            .then(data => {
              commentID = data.id;
            })
            .then(() => console.log(commentID))
            .catch(error => console.log(error));
            
            var CommentTemplate = '<div id="comment'+commentID+'" class="d-flex flex-row mb-2"> <img src="/static/user.jpg" class="rounded-image"> <div class="d-flex flex-column ml-2"> <span class="name">{{ user.get_full_name }}</span> <small id="comment_content'+commentID+'" class="comment-text">'+comment+'</small> <div class="d-flex flex-row align-items-center status"> <small>Like</small> <small>Reply</small> <small onclick="deleteComment('+commentID+')" style="cursor:pointer;">Delete</small> </div> </div> </div>'
            var node = document.createRange().createContextualFragment(CommentTemplate);
            var CommentArea = document.getElementById("commentDiv"+num);
            
            CommentArea.appendChild(node);
            document.getElementById("commentText"+num).value = '';
            var cmt_nos = document.getElementById("nos_comment"+num).innerHTML;
            document.getElementById("nos_comment"+num).innerHTML = parseInt(cmt_nos)+1;

        }
      }

      function deleteComment(num){
        const request = new Request('http://localhost:8000/api/comments/'+num+'/', {
              method: "DELETE",
              headers: {"Content-type": "application/json; charset=UTF-8", 'X-CSRFToken': Cookies.get('csrftoken')}
            });
            
            fetch(request)
            .then(() => console.log('Comment Deleted'))
            .catch(error => console.log(error));

            document.getElementById("comment_content"+num).innerHTML = 'Deleted Comment';
      }

      function lgpanel(){
        var panel=document.getElementById('lgpanel');
        if(panel.style.display=='none'){
            panel.style.display='block';
        }
        else{
            panel.style.display='none';
        }
    }
    </script>
  </body>
</html>